// colors

:root {
  --color-white: #fff;
  --color-black: #021206;
  --color-button-red: #f44545;
  --color-button-text-red: #ff4d4d;
  --color-button-black: #282323;
  --color-bg-green: #f4fdfa;
  --color-step-green: #18ca90;
}

$br6: 6px;
$br10: 10px;
$br15: 15px;